.modal-station-title{
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
}

.modal-station-subtitle{
    text-transform: uppercase;
}

.modal-station-chart-container{
    width: 100%;
    height: 400px;
}